*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
body{
    background: linear-gradient(to top left,#72FFFF,#0096FF);
    background-repeat: no-repeat;
    height: 100vh;
}
header{
    background-color: #00D7FF;

}
header div{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    width: min(700px,100%);
    text-align: center;
    margin: auto;
}
header p{
    font-size: clamp(10px,5vw,25px);
    font-weight: bolder;
    color: #073b50;
}
header img{
    width: 90px;
}
/* section */
section{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
    /* background-color: red; */
}
/* ==================================bg_video */
/* =================================user input */
.user_container_info{
    border: 1px solid;
    padding: 20px;
    width: 350px;
    font-family: courier;
    margin: auto;
}
.user_container_info input{
    float: right;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: courier;
    text-transform: capitalize;
}
.note{
    font-size: small;
    font-family: sans-serif;
    font-style: italic;
}
.createIdBtn{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid black;
}
.createIdBtn:hover{
    background-color: white;
    color: black;
}
/* ==================================id front */
.id_wrapper{
    background-image: url('bg.jpg');
    background-size: 100% 600px;
    height: 580px;
    width: 380px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 15px black;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.id_header_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    text-align: center;
    padding: 5px;
    /* margin-top: 3vh; */
}
.id_headerText p:nth-child(1){
    font-size: 15px;
    font-family: sans-serif;
}
.id_headerText p:nth-child(2){
    font-size: 34px;
    font-weight: bold;
    color: #073b50;
}
.id_headerText p:nth-child(3){
    font-size: 24px;
    font-weight: bold;
    color: #073b50;
}
.id_headerText p:nth-child(4){
    font-size: 12px;
    font-style: italic;
}

.id_header_wrapper img{
    width: 90px;
    /* height: 90px; */
}
.user_picture{
    border: 2px solid;
    height: 120px;
    width: 120px;
    margin: auto;
    margin-top: 4vh;
}
#user_name{
    border-bottom: 2px solid;
    width: 250px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: sans-serif;
    /* border: 1px solid; */
}
#user_id,#user_signature{
    border-bottom: 2px solid;
    width: 250px;
    height: 40px;
    margin:auto;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid red; */
}
.label_id{
    font-family: sans-serif;
    font-style: italic;
}
#user_id{
    font-family: sans-serif;
    font-size: 23px;
}
#user_signature{
    font-family: 'WindSong', cursive;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 10px;
}
.user_bs{
    background-color: #077ead;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(223, 223, 223);
}
#user_bs{
    text-transform: uppercase;
    font-family: sans-serif;
}
/* ===========================id back */
.id_wrapper_back{
    background-image: url('bg_back_1.jpg');
    background-size: 100% 600px;
    height: 550px;
    width: 380px;

    /* text-align: center; */
    border-radius: 20px;
    box-shadow: 3px 3px 15px black;
    /* border: 1px solid red; */
    margin: auto;
    padding-top: 50px;
}
.id_back_header_wrapper{
    text-align: center;
    /* margin-top: 50px; */
}
.id_back_header_wrapper p:nth-child(1){
    font-size: 17px;
    font-weight: bold;
    padding: 0px 10px;
}
.id_back_header_wrapper p:nth-child(2){
    font-size: 14px;
    font-weight: lighter;
    font-family: sans-serif;
    color: black;
    /* color:red; */
    font-style: italic;
    z-index: 2;
}
.id_back_header_wrapper p:nth-child(3),.id_back_header_wrapper p:nth-child(4){
    font-family: sans-serif;
    font-size: 14px;
    font-style: italic;
}
.emergency_contact_wrapper{
    border: 2px solid;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 20px;
}
.emergency_contact_wrapper p:nth-child(1){
    font-size: 17px;
    font-weight: bold;
    padding: 0px 10px;
    /* border: 1px solid red; */
    margin: auto;
}
.emergency_contact_wrapper p:nth-child(4){
    /* font-size: 27px; */
    font-size: clamp(20px,5vw,25px);
    font-weight: bolder;
    text-transform: uppercase;
    font-family: sans-serif;
}
.emergency_contact_wrapper p:nth-child(6){
    font-style: italic;
}
.emergency_contact_wrapper p:nth-child(8){
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 1.5px;
}
.id_description_back{
    /* border: 1px solid red; */
    width: 340px;
    font-size: 14px;
    margin: auto;
    margin-top: 25px;
    font-weight: bold;
    font-family: sans-serif;
}






@media (max-width: 1200px){
    section{
        display: block;
    }
    body{
        height: 100%;
    }
    .id_wrapper{
        margin-top: 3vh;
    }
    .id_wrapper_back{
        margin-top: 5vh;
        margin-bottom: 100px;
    }
}

@media (max-width:380px){
    .user_container_info{
        width: 200px;
        font-size: 10px;
        text-align: center;
        margin-bottom: 50px;
    }
    .user_container_info input{
        float: unset;
        margin-top: 10px;
    }
    .id_header_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid; */
        text-align: center;
        padding: 5px;
        /* margin-top: 3vh; */
    }
    .id_headerText p:nth-child(1){
        font-size: 13px;
        font-family: sans-serif;
    }
    .id_headerText p:nth-child(2){
        font-size: 25.9px;
        font-weight: bold;
        color: #073b50;
    }
    .id_headerText p:nth-child(3){
        font-size: 19px;
        font-weight: bold;
        color: #073b50;
    }
    .id_headerText p:nth-child(4){
        font-size: 9.6px;
        font-style: italic;
    }
    
    .id_header_wrapper img{
        width: 90px;
        /* height: 90px; */
    }
    .user_picture{
        border: 2px solid;
        height: 150px;
        width: 150px;
        margin: auto;
        margin-top: 20px;
    }
    #user_name{
        border: none;
        background: none;
        border-bottom: 2px solid;
        width: 250px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bolder;
        /* border: 1px solid; */
    }
    .user_bs{
        background-color: #077ead;
        padding: 5px 10px;
        border-radius: 5px;
    }
    #user_bs{
        text-transform: uppercase;
        font-family: sans-serif;
        
    }
    .id_wrapper{
        background-image: url('bg.jpg');
        background-size: 100% 600px;
        height: 580px;
        width: 98%;
        text-align: center;
        border-radius: 20px;
        box-shadow: 3px 3px 15px black;
        text-align: center;
        margin: auto;
        padding-top: 20px;
    }
    /* =========================================id back */
    
    .id_wrapper_back{
        /* display: none; */
        background-image: url('bg_back_1.jpg');
        background-size: 100% 600px;
        height: 550px;
        width: 98%;
        
        /* text-align: center; */
        border-radius: 20px;
        box-shadow: 3px 3px 15px black;
        /* border: 1px solid red; */
        padding-top: 50px;
    }
    .id_back_header_wrapper{
        text-align: center;
        /* margin-top: 50px; */
    }
    .id_back_header_wrapper p:nth-child(1){
        font-size: 15px;
        font-weight: bold;
        padding: 0px 10px;
    }
    .id_back_header_wrapper p:nth-child(2){
        font-size: 13px;
        font-weight: lighter;
        font-family: sans-serif;
        color: black;
        /* color:red; */
        font-style: italic;
        z-index: 2;
    }
    .id_back_header_wrapper p:nth-child(3),.id_back_header_wrapper p:nth-child(4){
        font-family: sans-serif;
        font-size: 13px;
        font-style: italic;
    }
    .emergency_contact_wrapper{
        border: 2px solid;
        width: 250px;
        margin: auto;
        margin-top: 30px;
        padding: 10px 20px;
    }
    .emergency_contact_wrapper p:nth-child(1){
        font-size: 14px;
        font-weight: bold;
        padding: 0px 10px;
        /* border: 1px solid red; */
        margin: auto;
    }
    .emergency_contact_wrapper p:nth-child(4){
        /* font-size: 24px; */
        font-weight: bolder;
        text-transform: uppercase;
        font-family: sans-serif;
        /* color: red; */
    }
    .emergency_contact_wrapper p:nth-child(6){
        font-style: italic;
    }
    .emergency_contact_wrapper p:nth-child(8){
        font-size: 17px;
        font-family: sans-serif;
        font-weight: bolder;
        letter-spacing: 1.5px;
    }
    .id_description_back{
        /* border: 1px solid red; */
        width: 294px;
        font-size: 13px;
        margin: auto;
        margin-top: 25px;
        font-weight: bold;
        font-family: sans-serif;
    }
    
}